<!-- <app-diretiva-ngif></app-diretiva-ngif>

<app-diretiva-nswitch></app-diretiva-nswitch>

<app-diretiva-ngfor></app-diretiva-ngfor>

<app-diretiva-ngclass></app-diretiva-ngclass>

<app-diretiva-ngstyle></app-diretiva-ngstyle> -->

<app-operador-elvis></app-operador-elvis>

<app-ng-content>
  <div class="titulo">Titulo</div>
  <div class="corpo">Corpo</div>
  <div class="corpo">Corpo 2</div>
</app-ng-content>

<app-diretivas-customizadas></app-diretivas-customizadas>

<router-outlet></router-outlet>
